@import 'base/all';

h2{
  font-size: 34px;
  margin-bottom: 30px;
  @media (min-width: 768px) {
    font-size: 50px;
  }
}
h3{
  font-size: 13px;
  margin-bottom: 10px;
  font-weight: 600;
  @media (min-width: 768px) {
    font-size: 16px;
  }
}
h4{
  font-size: 12px;
  margin-bottom: 30px;
  @media (min-width: 768px) {
    font-size: 14px;
  }
}
h5{
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 30px;
  @media (min-width: 768px) {
    font-size: 24px;
  }
  span{
    font-size: 15px;
    font-weight: 400;
    display: block;
    padding-top: 15px;
  }
}

.answers{
  @media (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media (max-width: 768px) {
    .btn{
      margin-top: 7.5px;
      margin-bottom: 7.5px;
    }
  }
}

.btn{
  font-size: 16px;
  background: linear-gradient(200.23deg, #F5E2EE -18.96%, #D872E3 54.42%), linear-gradient(116.98deg, #F0D8FA -3.19%, #8F93EA 105.27%);
  border: none;
  border-radius: 100px;
  padding: 15px 30px;
  margin: 0 15px;
  font-weight: 600;
  transition: transform .25s ease;
  color: #fff;
  user-select: none;
  @media (min-width: 768px) {
    font-size: 26px;
    padding: 15px 45px;
  }
  &:hover{
    transform: scale(1.1);
  }
  &:active{
    transform: scale(1);
  }
}

.question{
  position: relative;
  padding: 30px 15px 15px 15px;
  display: inline-block;
  background: #fff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.22394);
  border-radius: 12px;
  max-width: 100%;
  @media (min-width: 768px) {
    padding: 45px 60px 30px 60px;
  }
}

.count {
  position: absolute;
  right: 8px;
  top: 8px;
  font-size: 11px;
  font-weight: 400;
  @media (min-width: 768px) {
    right: 15px;
    top: 15px;
  }
  span{
    color: #D872E3;
    font-size: 12px;
    font-weight: 700;
    @media (min-width: 768px) {
      font-size: 15px;
    }
  }
}

